<h2>DBMS Project Source Code Part 1<h2>

In [1]:
import pandas as pd
import numpy as np

In [2]:
i=pd.read_csv("./cleanedd_us_acc_data.csv")
pd.set_option('display.max_columns',None)
i

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,City,County,State,Zipcode,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Crossing,Stop,Traffic_Signal,Sunrise_Sunset,elapsed_time,day_of_week,hour_of_day,month_of_year
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,Right lane blocked due to accident on I-70 Eas...,I-70 E,Dayton,Montgomery,OH,45424,US/Eastern,KFFO,2016-02-08 05:58:00,36.9,62.0,91.0,29.68,10.0,7.0,0.02,Light Rain,False,False,False,Night,314.000000,0,5,2
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,Reynoldsburg,Franklin,OH,43068-3402,US/Eastern,KCMH,2016-02-08 05:51:00,37.9,62.0,100.0,29.65,10.0,7.0,0.00,Light Rain,False,False,False,Night,30.000000,0,6,2
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,Williamsburg,Clermont,OH,45176,US/Eastern,KI69,2016-02-08 06:56:00,36.0,33.3,100.0,29.67,10.0,3.5,0.00,Overcast,False,False,True,Night,30.000000,0,6,2
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,Dayton,Montgomery,OH,45417,US/Eastern,KDAY,2016-02-08 07:38:00,35.1,31.0,96.0,29.64,9.0,4.6,0.00,Mostly Cloudy,False,False,False,Night,30.000000,0,7,2
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US/Eastern,KMGY,2016-02-08 07:53:00,36.0,33.3,89.0,29.65,6.0,3.5,0.00,Mostly Cloudy,False,False,True,Day,30.000000,0,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577175,A-7777757,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,At Market St - Accident.,Pomona Fwy E,Riverside,Riverside,CA,92501,US/Pacific,KRAL,2019-08-23 17:53:00,86.0,86.0,40.0,28.92,10.0,13.0,0.00,Fair,False,False,False,Day,28.600000,4,18,8
7577176,A-7777758,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,I-8 W,San Diego,San Diego,CA,92108,US/Pacific,KMYF,2019-08-23 18:53:00,70.0,70.0,73.0,29.39,10.0,6.0,0.00,Fair,False,False,False,Day,26.883333,4,19,8
7577177,A-7777759,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,Garden Grove Fwy,Orange,Orange,CA,92866,US/Pacific,KSNA,2019-08-23 18:53:00,73.0,73.0,64.0,29.74,10.0,10.0,0.00,Partly Cloudy,False,False,False,Day,28.466667,4,19,8
7577178,A-7777760,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,San Diego Fwy S,Culver City,Los Angeles,CA,90230,US/Pacific,KSMO,2019-08-23 18:51:00,71.0,71.0,81.0,29.62,10.0,8.0,0.00,Fair,False,False,False,Day,29.350000,4,19,8
7577179,A-7777761,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,CA-210 W,Highland,San Bernardino,CA,92346,US/Pacific,KSBD,2019-08-23 20:50:00,79.0,79.0,47.0,28.63,7.0,7.0,0.00,Fair,False,False,False,Day,29.416667,4,18,8

In [3]:
i

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Precipitation(in),Weather_Condition,Crossing,Stop,Traffic_Signal,Sunrise_Sunset,elapsed_time,day_of_week,hour_of_day,month_of_year
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.010,Right lane blocked due to accident on I-70 Eas...,...,0.02,Light Rain,False,False,False,Night,314.000000,0,5,2
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,...,0.00,Light Rain,False,False,False,Night,30.000000,0,6,2
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.010,Accident on OH-32 State Route 32 Westbound at ...,...,0.00,Overcast,False,False,True,Night,30.000000,0,6,2
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.010,Accident on I-75 Southbound at Exits 52 52B US...,...,0.00,Mostly Cloudy,False,False,False,Night,30.000000,0,7,2
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,...,0.00,Mostly Cloudy,False,False,True,Day,30.000000,0,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577175,A-7777757,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,At Market St - Accident.,...,0.00,Fair,False,False,False,Day,28.600000,4,18,8
7577176,A-7777758,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,...,0.00,Fair,False,False,False,Day,26.883333,4,19,8
7577177,A-7777759,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,...,0.00,Partly Cloudy,False,False,False,Day,28.466667,4,19,8
7577178,A-7777760,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,...,0.00,Fair,False,False,False,Day,29.350000,4,19,8
7577179,A-7777761,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,...,0.00,Fair,False,False,False,Day,29.416667,4,18,8

In [3]:
df_td = i[['Crossing','Stop','Traffic_Signal']]
print(df_td)

         Crossing   Stop  Traffic_Signal
0           False  False           False
1           False  False           False
2           False  False            True
3           False  False           False
4           False  False            True
...           ...    ...             ...
7577175     False  False           False
7577176     False  False           False
7577177     False  False           False
7577178     False  False           False
7577179     False  False           False

[7577180 rows x 3 columns]

In [4]:
traffic_count_dim = df_td[['Crossing','Stop','Traffic_Signal']].drop_duplicates().reset_index(drop=True)
traffic_count_dim['Traffic_id'] = traffic_count_dim.index
traffic_count_dim = traffic_count_dim[['Traffic_id','Crossing','Stop','Traffic_Signal']]

In [5]:
traffic_count_dim

   Traffic_id  Crossing   Stop  Traffic_Signal
0           0     False  False           False
1           1     False  False            True
2           2      True  False           False
3           3      True  False            True
4           4     False   True           False
5           5      True   True           False
6           6      True   True            True
7           7     False   True            True

In [6]:
df_timed = i[['Sunrise_Sunset','day_of_week','hour_of_day','month_of_year']]
print(df_timed)

        Sunrise_Sunset  day_of_week  hour_of_day  month_of_year
0                Night            0            5              2
1                Night            0            6              2
2                Night            0            6              2
3                Night            0            7              2
4                  Day            0            7              2
...                ...          ...          ...            ...
7577175            Day            4           18              8
7577176            Day            4           19              8
7577177            Day            4           19              8
7577178            Day            4           19              8
7577179            Day            4           18              8

[7577180 rows x 4 columns]

In [7]:
time_count_dim = df_timed[['Sunrise_Sunset','day_of_week','hour_of_day','month_of_year']].drop_duplicates().reset_index(drop=True)
time_count_dim['Time_id'] = time_count_dim.index
time_count_dim = time_count_dim[['Time_id','Sunrise_Sunset','day_of_week','hour_of_day','month_of_year']]

In [8]:
time_count_dim

      Time_id Sunrise_Sunset  day_of_week  hour_of_day  month_of_year
0           0          Night            0            5              2
1           1          Night            0            6              2
2           2          Night            0            7              2
3           3            Day            0            7              2
4           4            Day            0            8              2
...       ...            ...          ...          ...            ...
2470     2470            Day            6           20              9
2471     2471          Night            4           15             12
2472     2472            Day            4           21              5
2473     2473          Night            1            7              7
2474     2474          Night            0            7              7

[2475 rows x 5 columns]

In [9]:
location_count_dim = i[['Start_Lat','Start_Lng', 'Street', 'City', 'County', 'State', 'Zipcode',
       'Timezone', 'Airport_Code']].drop_duplicates().reset_index(drop=True)
location_count_dim['Location_id'] = location_count_dim.index
location_count_dim = location_count_dim[['Location_id','Start_Lat','Start_Lng','Street', 'City', 'County', 'State', 'Zipcode',
       'Timezone', 'Airport_Code']]

In [10]:
location_count_dim

,Location_id,Start_Lat,Start_Lng,Street,City,County,State,Zipcode,Timezone,Airport_Code
0,0,39.865147,-84.058723,I-70 E,Dayton,Montgomery,OH,45424,US/Eastern,KFFO
1,1,39.928059,-82.831184,Brice Rd,Reynoldsburg,Franklin,OH,43068-3402,US/Eastern,KCMH
2,2,39.063148,-84.032608,State Route 32,Williamsburg,Clermont,OH,45176,US/Eastern,KI69
3,3,39.747753,-84.205582,I-75 S,Dayton,Montgomery,OH,45417,US/Eastern,KDAY
4,4,39.627781,-84.188354,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US/Eastern,KMGY
...,...,...,...,...,...,...,...,...,...,...
2948346,2948346,34.120911,-117.833454,CA-210 E,Glendora,Los Angeles,CA,91740,US/Pacific,KPOC
2948347,2948347,33.943599,-117.077880,CA-60 E,Moreno Valley,Riverside,CA,92555,US/Pacific,KRIV
2948348,2948348,34.239104,-118.416176,Golden State Fwy N,Pacoima,Los Angeles,CA,91331,US/Pacific,KWHP
2948349,2948349,32.766960,-117.148060,I-8 W,San Diego,San Diego,CA,92108,US/Pacific,KMYF
2948350,2948350,33.775450,-117.847790,Garden Grove Fwy,Orange,Orange,CA,92866,US/Pacific,KSNA

In [11]:
weather_count_dim = i[['Weather_Timestamp','Weather_Condition','Precipitation(in)']].drop_duplicates().reset_index(drop=True)
weather_count_dim['Weather_id'] = weather_count_dim.index
weather_count_dim = weather_count_dim[['Weather_id','Weather_Timestamp','Weather_Condition','Precipitation(in)']]

In [12]:
weather_count_dim

         Weather_id    Weather_Timestamp Weather_Condition  Precipitation(in)
0                 0  2016-02-08 05:58:00        Light Rain               0.02
1                 1  2016-02-08 05:51:00        Light Rain               0.00
2                 2  2016-02-08 06:56:00          Overcast               0.00
3                 3  2016-02-08 07:38:00     Mostly Cloudy               0.00
4                 4  2016-02-08 07:53:00     Mostly Cloudy               0.00
...             ...                  ...               ...                ...
2074955     2074955  2019-08-23 17:55:00     Mostly Cloudy               0.00
2074956     2074956  2019-08-23 12:45:00              Fair               0.00
2074957     2074957  2019-08-23 01:20:00              Fair               0.00
2074958     2074958  2019-08-23 18:50:00              Fair               0.00
2074959     2074959  2019-08-23 20:50:00              Fair               0.00

[2074960 rows x 4 columns]

In [17]:
i.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Street', 'City',
       'County', 'State', 'Zipcode', 'Timezone', 'Airport_Code',
       'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Crossing', 'Stop',
       'Traffic_Signal', 'Sunrise_Sunset', 'elapsed_time', 'day_of_week',
       'hour_of_day', 'month_of_year'],
      dtype='object')

In [23]:
i.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,City,County,State,Zipcode,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Weather_Condition,Crossing,Stop,Traffic_Signal,Sunrise_Sunset,elapsed_time,day_of_week,hour_of_day,month_of_year
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,Dayton,Montgomery,OH,45424,US/Eastern,KFFO,2016-02-08 05:58:00,36.9,62.0,91.0,29.68,10.0,7.0,0.02,Light Rain,False,False,False,Night,314.0,0,5,2
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,Reynoldsburg,Franklin,OH,43068-3402,US/Eastern,KCMH,2016-02-08 05:51:00,37.9,62.0,100.0,29.65,10.0,7.0,0.00,Light Rain,False,False,False,Night,30.0,0,6,2
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,Williamsburg,Clermont,OH,45176,US/Eastern,KI69,2016-02-08 06:56:00,36.0,33.3,100.0,29.67,10.0,3.5,0.00,Overcast,False,False,True,Night,30.0,0,6,2
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,Dayton,Montgomery,OH,45417,US/Eastern,KDAY,2016-02-08 07:38:00,35.1,31.0,96.0,29.64,9.0,4.6,0.00,Mostly Cloudy,False,False,False,Night,30.0,0,7,2
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US/Eastern,KMGY,2016-02-08 07:53:00,36.0,33.3,89.0,29.65,6.0,3.5,0.00,Mostly Cloudy,False,False,True,Day,30.0,0,7,2

In [13]:
fact_table=i.merge(traffic_count_dim,on=['Crossing','Stop','Traffic_Signal'])\
            .merge(time_count_dim,on=['Sunrise_Sunset','day_of_week','hour_of_day','month_of_year'])\
            .merge(location_count_dim,on=['Start_Lat','Start_Lng'])\
            .merge(weather_count_dim,on=['Weather_Timestamp','Weather_Condition','Precipitation(in)'])\
            [['ID', 'Severity', 'Start_Time', 'End_Time','Sunrise_Sunset','Crossing','Distance(mi)','Description','Time_id'
              ,'Weather_id','Traffic_id',
               'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
               'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)','Precipitation(in)','Location_id', 'elapsed_time']]

In [14]:
fact_table

,ID,Severity,Start_Time,End_Time,Sunrise_Sunset,Crossing,Distance(mi),Description,Time_id,Weather_id,Traffic_id,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Location_id,elapsed_time
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,Night,False,0.010,Right lane blocked due to accident on I-70 Eas...,0,0,0,2016-02-08 05:58:00,36.9,62.0,91.0,29.68,10.0,7.0,0.02,0,314.000000
1,A-3412646,2,2016-02-08 05:56:20,2016-02-08 11:56:20,Night,False,0.747,At OH-4/OH-235/Exit 41 - Accident.,0,0,0,2016-02-08 05:58:00,36.9,62.0,91.0,29.68,10.0,7.0,0.02,1252141,360.000000
2,A-142,2,2016-02-15 05:22:00,2016-02-15 05:52:00,Night,False,0.010,Accident on Byers Rd near Monarch Ln.,0,113,0,2016-02-15 05:03:00,23.0,13.9,92.0,29.97,1.5,8.1,0.00,133,30.000000
3,A-2445056,2,2018-11-09 10:46:35,2018-11-09 11:31:12,Day,False,0.000,Accident on Byers Rd at Monarch Ln.,1142,985127,0,2018-11-09 10:53:00,39.0,34.8,100.0,30.02,4.0,5.8,0.00,133,44.616667
4,A-2444702,3,2018-11-09 10:39:27,2018-11-09 11:08:51,Day,False,0.000,Center lane blocked due to accident on I-95 Ne...,1142,985127,0,2018-11-09 10:53:00,46.9,62.0,71.0,30.23,10.0,3.5,0.00,921618,29.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7601545,A-4129076,2,2022-08-04 21:07:01,2022-08-04 22:22:08,Day,False,1.325,Incident on I-94 EB near MP 176 Expect delays.,2459,1546895,0,2022-08-04 20:52:00,88.0,88.0,45.0,28.01,10.0,13.0,0.00,1695623,75.116667
7601546,A-5417973,2,2023-01-01 08:09:00,2023-01-01 09:27:31,Night,False,0.060,Incident on MT-56 near MT-200 Drive with caution.,2461,1688696,0,2023-01-01 08:06:00,26.0,26.0,81.0,24.04,0.5,3.0,0.00,2201526,78.516667
7601547,A-7283577,2,2020-01-05 08:04:00,2020-01-05 14:55:00,Night,False,0.000,At Old Hiway - Accident.,2461,1974531,0,2020-01-05 07:55:00,32.0,32.0,100.0,27.69,1.0,0.0,0.00,2777542,411.000000
7601548,A-7283578,2,2020-01-05 08:04:00,2020-01-05 15:14:58,Night,False,0.000,At Old Hiway - Accident.,2461,1974531,0,2020-01-05 07:55:00,32.0,32.0,100.0,27.69,1.0,0.0,0.00,2777542,430.966667
7601549,A-7745245,4,2019-05-31 21:08:18,2019-05-31 21:38:07,Day,False,3.610,Closed at M-75 S - Road closed due to accident.,2472,2069297,0,2019-05-31 20:53:00,58.0,58.0,84.0,28.33,10.0,6.0,0.06,2937154,29.816667